<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="#">Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="index">Личный кабинет</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="links">Ссылки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="marathons">Марафоны</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="users">Пользователи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="runners">Клиенты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="admin" asp-action="reviews">Отзывы</a>
                                </li>
                            }
                            else if (User.IsInRole("curator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="curator" asp-action="index">Личный кабинет</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="curator" asp-action="links">Ссылки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="curator" asp-action="recordings">Записи на марафон</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="curator" asp-action="runners">Клиенты</a>
                                </li>
                            }
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="nav-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img class="avatar-thumb" src="~/images/user/no_avatar.png" style="border-radius: 50%; width: 26px;">
                                    @inject Microsoft.AspNetCore.Identity.UserManager<User> _userManager
                                    @{User user = await _userManager.GetUserAsync(User);
                                    }
                                    @user.Name
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav-profile-dropdown">
                                    <form method="get" asp-controller="account" asp-action="editUser">
                                        <input type="submit" value="Редактировать" class="dropdown-item text-primary">
                                    </form>
                                    <form method="post" asp-controller="account" asp-action="logOff">
                                        <input type="submit" value="Выйти" class="dropdown-item text-primary">
                                    </form>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="review">Оставить отзыв</a>
                            </li>
                            <li class="nav-item ml-auto d-flex">
                                <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="login">Авторизация</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
