@model IEnumerable<Project.Models.Link>

@{
    ViewData["Title"] = "Links";
}

<h1>Ссылки</h1>
<h5 class="pt-2"><a asp-area="" asp-controller="admin" asp-action="addLink">Добавить ссылку</a></h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Link item in Model)
        {
            <tr>
                <td>
                    @String.Concat(ViewBag.Link, item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
            </tr>
        }
    </tbody>
</table>
