@model IEnumerable<Project.Models.Recording>

@{
    ViewData["Title"] = "Recordings";
}

<h1>Записи на марафон</h1>
<h5><a class="pt-2" asp-area="" asp-controller="curator" asp-action="addRecording">Записать на марафон</a></h5>
<table class="table">
    <thead>
        <tr>
            <th>
               Марафон
            </th>
            <th>
                Клиент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Recording item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marathon.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runner.Name)
            </td>
        </tr>
        }
    </tbody>
</table>
